@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617; /* slate-950 */
  color: #e5e7eb;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
